footer
    nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
        .container
            div.row
                div.col-md-12
                    p Copyright &copy; 2016 | Issues? Submit to&#32; #[a(href="https://github.com/gvanderberg/vscode-docker-node-sample/issues", target="_blank") GitHub].