extends ./layouts/desktop

block page 
  - var menu = "contact"
block content
    div.container
        div.row
            div.page-header
                h2= title
            div.col-md-6
                <div style="height:500px;width:500px;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="embedded-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=753+Steekbaard+Street,+Pretoria,+South+Africa&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-enabler" rel="nofollow" href="https://www.hostingreviews.website" id="make-map-information">HostingReviews</a><style>#embedded-map-canvas img{max-width:none!important;background:none!important;font-size: inherit;}</style></div><script src="https://www.hostingreviews.website/google-maps-authorization.js?id=68f30225-56d6-b846-413d-309ce50137fe&c=google-map-enabler&u=1461442568" defer="defer" async="async"></script>
            div.col-md-6
                form
                    div.form-group
                        label(for="email") Email address
                        input.form-control(id="email", placeholder="Email address", type="email")
                    div.form-group
                        label(for="subject") What's it about?
                        input.form-control(id="subject", placeholder="Subject", type="text")
                    div.form-group
                        label(for="message") Message
                        textarea.form-control(id="message", placeholder="Message", rows="5")
                    div.form-group
                        p.pull-right #[input.btn.btn-primary(type="submit", value="Send")]
