extends ./layouts/desktop

block page 
  - var menu = "index"
block content
    .container.marketing
        .jumbotron
            h1 Hello, Node.js!
            p.lead Sample app using Node.js, Express, Jade, TypeScript and Docker container support with debugging. All using VSCode. Dependency management using npm, bower and gulp.
            p #[a.btn.btn-success.btn-lg(href="/about") Learn more]
        .row.row-eq-height
            .col-md-4.col-sm-6.col-xs-12
                h3 Node.js
                p #[a.btn.btn-primary(href="https://nodejs.org/", target="_blank") Get Started]
            .col-md-4.col-sm-6.col-xs-12
                h3 Express
                p #[a.btn.btn-primary(href="http://expressjs.com", target="_blank") Get Started]
            .col-md-4.col-sm-6.col-xs-12
                h3 Jade <small>aka</small> pug
                p Jade has been rebranded as pug, so will be looking into updating dependencies in this project. Documentation is still the same though, so go and have a look.
                p #[a.btn.btn-primary(href="http://jade-lang.com", target="_blank") Get Started]
        .row.row-eq-height
            .col-md-6.col-sm-6.col-xs-12
                h3 Docker
                p Go to Docker's #[a(href="https://www.docker.com", target="_blank") website] to create a free docker cloud account and start creating your own docker images and containers locally or play with the images already in the cloud.
                p #[a.btn.btn-primary(href="https://www.docker.com", role="button", target="_blank") Get Started]
            .col-md-6.col-sm-6.col-xs-12
                h3 VSCode
                p #[a.btn.btn-primary(href="https://code.visualstudio.com", target="_blank") Get Started]
