body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.jumbotron {
    text-align: center;
}

.marketing .col-md-4,
.marketing .col-md-6,
.marketing .col-sm-6
.marketing .col-xs-12 {
    text-align: center;
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
    max-width: 330px;
}

.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin input[type="email"]{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"]{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}