extends ../layouts/desktop

block page 
    - var menu = "blogs"
block alert

block content
    .container
        .row
            .page-header
                h2 #{title} <small>aka</small> Developer
                | #[a.btn.btn-primary.pull-right(href="/blogs/create") create]
            if (blogs.length === 0)
                | There's no published content yet. 
                a(href="/signin") Sign in
                |  to post and publish.
            else 
                ul.timeline
                    each article, index in blogs.reverse()
                        li(class=(index % 2)?"timeline-inverted":"")
                            .timeline-badge(class=(index % 2)?"success":"primary")
                            .timeline-panel
                                .timeline-heading
                                    h4.timeline-title #[a(href="/blogs/view/#{article._id}")= article.title]
                                    p: small.text-muted: i.glyphicon.glyphicon-time  #{article.createdAt.toDateString()}
                                .timeline-body
                                    p #{article.body}