extends ../layouts/desktop

block page 
    - var menu = "blogs"
block alert

block content
    .container
        .row
            .page-header
                h2 #{title} <small>#{blog.createdAt.toDateString()}</small>
            .col-sm-8.col-xs-12
              p #{blog.body}