doctype html
html
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        block page
        block header
            include ../includes/header
        block alert
            .alert.alert-dismissable
        block content

        block footer
            include ../includes/footer

        script(type="text/javascript", src="/libs/jquery.js")
        script(type="text/javascript", src="/libs/bootstrap.js")
