extends ../layouts/desktop

block page 
  - var menu = "users"
block content
    div.container
        div.row
            div.page-header
                h2= title
            div.col-md-8
                table.table.table-condensed
                    thead
                        tr: th email
                            th first name
                            th last name
                            th #[a.btn.btn-success.btn-xs(data-target="#create-user" data-toggle="modal" href="#") create]
                    tbody
                        each user, index in data
                            tr: td= user.email
                                td= user.firstName
                                td= user.lastName
                                td: form(method="POST", action="/users/#{user._id}?_method=DELETE")
                                        p.btn-group
                                            | #[a.btn.btn-warning.btn-xs(data-target="#update-user" data-toggle="modal" href="#") edit]
                                            | #[button.btn.btn-danger.btn-xs(type="submit") delete]

    div.modal.fade(id="create-user", role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                form(action="/users", method="post")
                    div.modal-header
                        button.close(data-dismiss="modal" type="button")
                            span &times;
                        h3 create a new user
                    div.modal-body
                        div.form-group
                            label(for="email") email
                            input.form-control(id="email", name="email", type="email")
                        div.form-group
                            label(for="firstName") first name
                            input.form-control(id="firstName", name="firstName", type="text")
                        div.form-group
                            label(for="lastName") last name
                            input.form-control(id="lastName", name="lastName", type="text")
                    div.modal-footer
                        button.btn.btn-default(data-dismiss="modal") cancel
                        button.btn.btn-primary(type="submit") save

    div.modal.fade(id="update-user", role="dialog")
        div.modal-dialog(role="document")
            div.modal-content
                form(action="/users/update", method="post")
                    div.modal-header
                        button.close(data-dismiss="modal" type="button")
                            span &times;
                        h3 edit user
                    div.modal-body
                        div.form-group
                            label(for="email") email
                            input.form-control(id="email", name="email", type="email")
                        div.form-group
                            label(for="firstname") first name
                            input.form-control(id="firstname", name="firstname", type="text")
                        div.form-group
                            label(for="lastname") last name
                            input.form-control(id="lastname", name="lastname", type="text")
                    div.modal-footer
                        button.btn.btn-default(data-dismiss="modal") cancel
                        button.btn.btn-primary(type="submit") save
